<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title> 
  {{!-- adding in the authenitcation form  --}}
  <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/js/login.js">
</head>

<body>
  <header>
    <h1>Welcome to the Help Desk</h1>
  </header>
  <nav>
    <a href="/views/home.handlebars">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/public/assets/js/login.js">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Tickets</h2>
    </aside>
    <div class="tickets">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/public/assets/js/login.js"></script>
  {{!-- update source file --}}
  {{/if}}
</body>

</html>


{{!-- <html>
<head>
    <title>Email Input Form</title>
</head>
<body>
    <h1>Email Input Form</h1>
    <form id="email-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
 --}}


{{!-- <html>
<head>
    <title>Password Input Form</title>
</head>
<body>
    <h1>Password Input Form</h1>
    <form id="password-form">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html> --}}