<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/js/home.js">
  <link rel="stylesheet" type="text/css" href="/public/assets/js/ticket.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body>
  <header>
    <h1>Welcome to the Help Desk</h1>
  </header>
  <nav>
    <a href="/views/home.handlebars">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/public/assets/js/login.js">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="ticket">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/views/layouts/main.handlebars"></script>
  {{/if}}
</body>

</html>