<h3>Your Tickets</h3>
<h6>You may filter tickets by Status, or view ALL.</h6>

<div id="userData" data-user-id="{{userid}}"></div>

<div class="button-card">

    {{!-- When there is no ticket data to display as a technician, the table will show "No pending tickets.
            Check back soon." --}}

    {{!-- <button class="btn btn-primary black white-text" id="login-btn" type="submit">All
    </button> --}}
    <a class="btn btn-primary black white-text" type="click" href="/">All</a>
    <a class="btn btn-primary black white-text tn-open" type="click" href="/Open">Open</a>
    <a class="btn btn-primary black white-text btn-pending" type="click" href="/Pending">Pending</a>
    <a class="btn btn-primary black white-text btn-resolved" type="click" href="/Resolved">Resolved</a>
    <a class="btn btn-primary black white-text btn-claimed" type="click" href="/Claimed">Claimed</a>
    <button class="btn-floating pulse black" id="new-ticket-btn"><i class="material-icons">add</i></button>
    
</div>
{{!-- The top portion of the page is dedicated to several buttons. On click, these buttons will filter the table view to
only include tickets which match the selected status. They will function as links which take the user to /:status?
All - takes the user to /
Open - takes the user to '/Open'
Pending - takes the user to '/Pending'
Resolved - takes the user to '/Resolved'
Claimed - takes the user to '/Claimed'
When any of these paths are applied to the URL, the user will always see the Dashboard page, but their ticket table will
be filtered to only match the tickets by that status. --}}

<table class="table-card">
    <thead>
        <tr>
            <th></th>
            <th class="status-row">Status</th>
            <th class="urgency-row">Urgency</th>
            <th class="client-row">Client</th>
            <th class="technician-row">Technician</th>
            <th class="created-row">Created</th>
            <th class="link-row"></th>
            <th></th>
        </tr>
    </thead>
    {{!-- we have access to what is rendered on home -- look at handlebarsControllers --}}
    {{!-- data replaced with partial data in table.handlebars --}}
    {{>table}}

</table>
 {{!-- {{#unless isClient}}
    <tr>No pending tickets.Check back soon.</tr>
    {{/unless}} --}}

{{!-- The table columns will include Status, Urgency, Client, Technician, Date Created.
Each row on this table will be clickable, and will function as a link to take the user to the individual ticket page.
--}}
<br></br>

<a href="/" class="btn black">Home</a>
{{#if loggedIn}}
<button id="logout" class="btn btn-primary black white-text btn black">Logout</button>
{{else}}
<a href="/login" class="btn black">Login</a>
{{/if}}
<br></br>

{{!------------------------ Views - Home - Add Button & Drawer [VANNA SECTION BELOW PLS DON'T
DELETE]--------------------------------}}

{{!-- Create New Ticket Button --}}

<div id="new-ticket" class="hidden">
    <button id="close-new-ticket-modal" class="position-absolute top-0 end-0">X</button>
    <form>
        <label for="ticket-subj">Subject:</label>
        <br>
        <input type="text" id="subject" class="form-input">
        <br>
        <label for="ticket-desc">Description:</label>
        <br>
        <textarea id="description" class="form-input"></textarea>
        <br>
        <div class='form-field'>
            <select id='urgencyFilter' class='form-control text-center bg-black text-white'>
                <option>SELECT URGENCY</option>
                <option value="Low">LOW</option>
                <option value="Medium">MEDIUM</option>
                <option value="High">HIGH</option>
                {{#each urgency}}
                <option value="{{this}}">{{this.urgency.type}}</option>
                {{/each}}
            </select>
            <br>
            <br>
            <button type="submit" id="submit-ticket-btn" class="btn btn-primary white black-text">Submit
                Request</button>
    </form>
</div>

{{!-- this line below needs to go at the very bottom of this file --}}
<script defer src="/assets/js/home.js"></script>



{{!-- DON'T TOUCH PLSSSSS END OF VANNA'S SECTION NO MORE CODE AFTER THIS --}}