<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title> 
 
  <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/js/login.js">
</head>

<body>
  <header>
    <h1>Welcome to the Help Desk</h1>
  </header>
  <nav>
    <a href="/views/home.handlebars">Home</a>
    <!-- {{#if loggedIn}} -->
    <button id="logout" class="btn-no-style">Logout</button>
    <!-- {{else}} -->
    <!-- <a href="/public/assets/js/login.js">Login</a> -->
    <!-- {{/if}} -->
  </nav>
  <main>
    <aside>
      <h2>Login</h2> 
    </aside>
    <div class="tickets">
      <!-- {{{body}}} -->

      <div class="row justify-space-between-md">
        <div class="login-card">
          <h2 class="page-title">Login</h2>
          <form class="form login-form">
            <div class="form-group">
              <label for="email-login">Email:</label>
              <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
              <label for="password-login">Password:</label>
              <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary"
              type="submit">login</button>
            </div>
          </form>
        </div>
      </div>
      
      <script src="/js/login.js"></script>
    </div>
  </main>
  <!-- {{#if loggedIn}} -->
  <script src="/public/assets/js/login.js"></script>
  <!-- {{!-- update source file --}}
  {{/if}} -->
</body>

</html>
