<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title> 
 
  <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/js/login.js">
</head>

<header>    
    <h1>
      <div class="nav-wrapper">
          <a class="brand-logo">Subject<a>
    </h1>
          <section>
              Description:
          </section>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          </p>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="">urgency</a></li>
</header>


      
      <script src="/js/login.js"></script>
    </div>
  </main>
  <!-- {{#if loggedIn}} -->
  <script src="/public/assets/js/login.js"></script>
  <!-- {{!-- update source file --}}
  {{/if}} -->
</body>

</html>
