{{!-- this line below needs to go at the very bottom of this file --}}

<header>
    <nav>
        <div class="nav-wrapper">
            <a href="" class="brand-logo">Subject</a>
            <section>
                Description:
            </section>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            </p>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">urgency</a></li>
    </nav>
</header>



<script src="/assets/js/ticket.js"></script>



{{!-- The top of the page features a header detailing the current ticket information.

The Subject
The Description
A badge representing the Urgency
A statement "Opened by" with the name of the client "on" with the Created At date formatted --}}