/* universal font */
@font-face {
    font-family: couture;
    src: url(../fonts/couture.otf);
}

* {
    font-family: couture;
    letter-spacing: .3rem;
}

/* for log modal */
body {
margin: 0;
padding: 0;
overflow: hidden;
}

#chat-dialogue {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: rgb(148, 171, 255);
    box-shadow: -5px 0 15px gray;
    transition: all 0.3s ease-in-out;
}

.hidden {
    width: 0;
}

/* for ticket modal */

#new-ticket {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: rgb(148, 171, 255);
    box-shadow: -5px 0 15px gray;
    transition: all 0.3s ease-in-out;
}

/* for views/layouts login */
.login-container, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-email, #login-email-input, #login-pw, 
#login-pw-input {
  color: black;
}

#login-btn {
    margin-top: 1rem;
}

body {
    height: 100vh;
}