/* universal font */
@font-face {
    font-family: couture;
    src: url(../fonts/couture.otf);
}


* {
    font-family: couture;
    letter-spacing: .3rem;
}

body {
    margin: 0;
    padding: 0;
}

/* if "hidden" class, for determineClass helper function */
.notShown {
display: none;
}

/* if "shown" class, for determineClass helper function */
.shown {
display: block;
}

/* if "center-align" class, for determineAlignment helper function */
.center-align {
text-align: center;
}

/* if "right-align" class, for determineAlignment helper function */
.right-align {
text-align: right;
}

/* if "left-align" class, for determineAlignment helper function */
.left-align {
text-align: left;
}

/* for chat log modal */
#chat-dialogue {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    color: white;
    background-color: black;
    box-shadow: -5px 0 15px gray;
    transition: all 0.3s ease-in-out;
    padding: 30px;
    z-index: 50;
    overflow: hidden;
}

.hidden {
    width: 0;
}

/* for ticket modal */
#new-ticket {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    color: white;
    background-color: black;
    box-shadow: -5px 0 15px gray;
    transition: all 0.3s ease-in-out;
    padding: 30px;
    z-index: 50;
    overflow: hidden;
}

.form-input {
    color: white;
}

#description {
    height: 100px;
}

#close-new-ticket-modal {
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-right: 10px;
}

/* for views/layouts login */
.login-container,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-email,
#login-email-input,
#login-pw,
#login-pw-input {
    color: black;
}

.claim-ticket-btn {
    background-color: black;
    color: white;
    padding: .5em 1.5em;
    font-family: couture;
    letter-spacing: 0;
    border: none;
}

/* tickethandlebars */

div.card.mb-3 {
    border-color: #f3e5f5 !important;
    border-width: 1em !important;
    padding: 0;
}

#login-btn {
    margin-top: 1rem;
}

body {
    height: 100vh;
}

#logout {
    font-weight: bold;
}