/* universal font */
@font-face {
    font-family: couture;
    src: url(../fonts/couture.otf);
}


* {
    font-family: couture;
    letter-spacing: .3rem;
}

body {
    margin: 0;
    padding: 0;
}

.tester {
    box-shadow: 2px 2px 2rem #d5b3db;
    border: solid 1px #d5b3db;
}

/* .tester-ticket {
    box-shadow: 2px 2px 2rem #79767a !important;
} */

.brand-logo {
    /* transform: scale(1); */
    transform-origin: top left;
    animation: grow 1.5s linear forwards;
}

.date-size {
    font-size: 12px;
    text-align: end;
}

@keyframes grow {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

/* if "hidden" class, for determineClass helper function */
.notShown {
display: none;
}

/* if "shown" class, for determineClass helper function */
.shown {
display: block;
}

/* if "center-align" class, for determineAlignment helper function */
.center-align {
text-align: center;
}

/* if "right-align" class, for determineAlignment helper function */
.right-align {
text-align: right;
}

/* if "left-align" class, for determineAlignment helper function */
.left-align {
text-align: left;
}

/* for chat log modal */
#chat-dialogue {
    position: fixed;
    top: 0;
    width: 700px;
    height: 100%;
    color: white;
    background-color: black;
    box-shadow: -5px 0 15px gray;
    transition: all 0.3s ease-in-out;
    padding: 30px;
    z-index: 50 !important;
    overflow: hidden;
}
#status {
z-index: 0 !important;
}

.hidden {
    width: 0;
    right: -700px;
}

.openDrawer {
    right: 0;
}

#message-txt {
    height: 100px;
    color: white;
    z-index: 51;
    position:relative;
}

#nav-mobile {
    z-index: 0 !important;
}

#close-chat-modal {
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-right: 10px;
}

#hide-message {
    background-color: white;
    color: white;
}

input[type="checkbox"] {
    opacity: 1 !important;
}

#add-message-btn {
    margin-top: 10px;
}

/* for ticket modal */
#new-ticket {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    color: white;
    background-color: black;
    box-shadow: -5px 0 15px gray;
    transition: all 0.3s ease-in-out;
    padding: 30px;
    z-index: 50;
    overflow: hidden;
}

.form-input {
    color: white;
}

#description {
    height: 100px;
}

#close-new-ticket-modal {
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-right: 10px;
}

/* for views/layouts login */
.login-container,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-email,
#login-email-input,
#login-pw,
#login-pw-input {
    color: black;
}

.card-header {
    margin-top: 3px !important;
}

/* tickethandlebars */

div.card.mb-3 {
    border: solid 2px #d5b3db;
    box-shadow: 5px 5px 1rem #d5b3db;
    padding: 0;
    border-radius: 5px;
}

#login-btn {
    margin-top: 1rem;
}

body {
    height: 100vh;
}

#logout {
    font-weight: bold;
}